body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    height: 100vh;
    width: 100%;
    position: relative;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}